[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=32
subdivisions=4
#height=416
#width=416
height=640
width=640
#height=768
#width=1024
#height=640
#width=768
#height=228
#width=228
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

#learning_rate=0.001
learning_rate=0.0001
burn_in=1000
max_batches = 100000
#max_batches = 5000
policy=steps
steps=40000,60000
#steps=5000,60000
scales=.1,.1

#0 conv1
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

#1 pool1
[maxpool]
size=2
stride=2

#2 conv2
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#3 pool2
[maxpool]
size=2
stride=2

#4 conv3
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#5 conv4
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#6 conv5
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#7 pool3
[maxpool]
size=2
stride=2

#8 conv6
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#9 conv7
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#-28
#10 conv8
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#11 pool4
[maxpool]
size=2
stride=2

#12 conv9
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#13 conv10
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#14 conv11
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#15 conv12
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#-14
#16 conv13
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#17 pool5
[maxpool]
size=2
stride=2

#18 conv14
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#19 conv15
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#20 conv16
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#21 conv17
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#22 conv18
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky


#######

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky


[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#context
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[route]
layers = -2

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky


[route]
layers = -1,-4

[route]
layers = -6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[route]
layers = -1,-6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
size=1
stride=1
pad=1
#filters=18
filters=12
activation=linear

[yolo]
mask = 4,5
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 16,16,  32,32,  64,64,  128,128,  256,256,  312,312
classes=1
#num=9
num=6
jitter=.3
ignore_thresh = .5
truth_thresh = 1
random=1

[route]
layers = -3

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = 16

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -1, -3

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#context
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[route]
layers = -2

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky


[route]
layers = -1,-4

[route]
layers = -6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[route]
layers = -1,-6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
size=1
stride=1
pad=1
#filters=18
filters=12
activation=linear

[yolo]
mask = 2,3
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 16,16,  32,32,  64,64,  128,128,  256,256,  312,312
classes=1
#num=9
num=6
jitter=.3
ignore_thresh = .5
truth_thresh = 1
random=1

[route]
layers = -4

[upsample]
stride=2

[route]
layers = 10

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -1,-3


[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#context
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=128
activation=leaky

[route]
layers = -2

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky


[route]
layers = -1,-4

[route]
layers = -6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=64
activation=leaky

[route]
layers = -1,-6

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
size=1
stride=1
pad=1
#filters=18
filters=12
activation=linear

[yolo]
mask = 0,1
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 16,16,  32,32,  64,64,  128,128,  256,256,  312,312
classes=1
#num=9
num=6
jitter=.3
ignore_thresh = .5
truth_thresh = 1
random=1
